.nav a {
  display: block;
  padding: 2rem;
  text-decoration: none;
}

.error-message {
  color: var(--color-yellow-1);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button:hover,
button:active {
  color: var(--color-yellow-2);
}

.profile-update-confirmation {
  display: block;
  background: var(--color-gray-9);
  border-radius: var(--border-radius);
  padding: 1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width:1024px) {

  .hero-img span img,
  .hero-img span {
    position: relative !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
  }
}